/*--login--*/
.account h2 {
    color: #fa03bb;
    font-size: 3em;
    margin: 0 0 1em;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
}

.login-left h4 {
    color: #fa03bb;
    font-size: 1.3em;
}

.login-left p {
    color: #b2b2b2;
    display: block;
    font-size: 0.9em;
    margin: 1em 0 1.5em 0;
    line-height: 1.8em;
    width: 95%;
}

.acount-btn {
    background: #403b37;
    color: #FFF;
    font-size: 0.9em;
    padding: 0.4em 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    text-transform: uppercase;
}

    .acount-btn:hover, .login-right input[type="submit"]:hover {
        background: #fa03bb;
        text-decoration: none;
        color: #fff;
    }

.login-right form {
    padding: 1em 0;
}

.login-right span {
    color: #b2b2b2;
    font-size: 0.9em;
    padding-bottom: 0.4em;
    display: block;
}

.word-in {
    margin: 0.5em 0 0;
}

.login-right input[type="text"] {
    border: 1px solid #bbb;
    outline-color: #fa03bb;
    width: 96%;
    font-size: 0.9em;
    padding: 10px;
    margin: 0.5em 0;
}

.login-right input[type="password"] {
    border: 1px solid #bbb;
    outline-color: #fa03bb;
    width: 96%;
    font-size: 0.9em;
    padding: 10px;
    margin: 0.5em 0;
}

.login-right input[type="submit"] {
    background: #403b37;
    color: #FFF;
    font-size: 0.9em;
    padding: 0.4em 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    outline: none;
}

a.forgot {
    font-size: 0.8125em;
    color: #000000;
}

.account {
    padding: 4em 0;
}
