
/****==== register ====****/
.register {
    padding:3em 0;
}
.register h2 {
    color: #fa03bb;
    font-size: 3em;
    margin: 0 0 1em;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
}

.register-top-grid span, .register-bottom-grid span {
    color: #b2b2b2;
    font-size: 0.9em;
    padding-bottom: 0.2em;
    display: block;
    font-family: 'Roboto-Regular';
}

.register-top-grid input[type="text"], .register-top-grid input[type="password"] {
    border: 1px solid #EEE;
    outline-color: #fa03bb;
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em 0;
}
.register-but{
	margin-top:1em;
}
.register-but input[type="submit"],.register-but input[type="button"] {
	background:#fa03bb;
	color: #FFF;
	font-size:1em;
	padding: 0.4em 1em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	border:none;
	outline:none;
    font-family:'Roboto-Regular';
}
.register-but input[type="submit"]:hover {
	background:#403b37;
}
